.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

a, a:hover {
    text-decoration: none;
}

.centering {
    text-align: center;
}

.line-rotate {
    -ms-transform: rotate (45deg);
    -webkit-transform: rotate (45deg);
    transform: rotate(45deg);
}

.line-rotate-min {
    -ms-transform: rotate (-45deg);
    -webkit-transform: rotate (-45deg);
    transform: rotate(-45deg);
}

h2, h3, h4, h4, p {
    padding-left: 0.5em;
}

.hasil .fa.fa-info, .hasil, .hasil b {
    font-size: 16pt;
}

.cek-saldo, .cek-saldo.cek-topup {
    padding-top: 2em;
    padding-bottom: 2em;
}

.cek-saldo i {
    font-size: 36pt;
}

.register .btn {
    font-size: 26pt;
}

.cek-saldo .btn.btn-info, .cek-saldo.cek-topup .btn.btn-primary {
    margin-left: 4.5em;
}

.cek-saldo.cek-topup .btn.btn-print, .cek-saldo.cek-topup .btn.btn-regis {
    margin-left: 0;
}

.cek-saldo .btn.btn-cashier {
    padding: 1em;
}

.col-pull {
    margin-left: 1.7em;
}

.cek-saldo .btn.btn-primary {
    margin-left: 1em;
}

.daftar-kaki .btn.btn-primary, .daftar-kaki .btn.btn-default    {
    font-size: 20pt;
}

.push-right {
    margin-left: 0;
}

.cek-topup .nav.nav-pills > li {
    margin-right: 2em;
    border: 2px solid gray;
}

hr {
    border-color: gray;
}